.card {
 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    padding:20px;
    margin:12px 10px;
    height: 390px;    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 8px 5px;
    margin: 10% 0% 0% 0%;
    text-align: center;
  }

  .datalist {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  @media (max-width: 435px)
  {
    .card {
      width: 60%;
      height:325px;

    }
    .datalist {
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
    }
  }

  @media (min-width:436px) and (max-width: 780px)
  {
    .card {
      width: 26%;
      height:295px;

    }
    
  }
